doctype html
html
  head
    title Bootstrap Example
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', type='text/css', href='/public/css/wraplogin.css')
    
    
    script(src='/public/js/sweetalert.js')
    
    //script(src='/public/js/zingchart-angularjs.js')
    script(src='/public/js/zingchart.min.js')
    

    //angular + jquery//
    script(src='/public/js/jquery-3.2.1.min.js')
    script(src='/public/js/angular.min.js')
    //bootstrap//
    link(rel='stylesheet', type='text/css', href='/public/css/bootstrap.css')
    script(src='/public/js/bootstrap.min.js')

    //googlemap + configmap//
    link(rel='stylesheet', href='/public/css/configmap.css')
    script.
      document.write('<base href="' + document.location + '" />');
    script(data-require='angular.js@1.3.x', src='https://code.angularjs.org/1.3.16/angular.js', data-semver='1.3.16')
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyD5isMbzRr_Ewadqb9eYq8cqet74mMeQ-E')
    script(src='/public/js/configmap.js')

    //highchart + configchart//
    script(src='/public/js/highcharts.js')
    script(src='/public/js/data.js')
    script(src='/public/js/drilldown.js')

    link(rel='stylesheet', href='/public/css/checkbox.css')


    style.
      body {
      position: relative;
      }
      #section1 {position: relative; top: 90px}
      #section2 {position: relative; top: 90px}
      #section3 {position: relative; top: 90px}
      #section4 {position: relative; top: 40px}
      #section5 {position: relative; top: 17px}
      #section6 {position: relative; top: 70px}
      #chart {position: relative; top: 40px}
      #brand {position: relative; top: 60px;}
      /*@media screen and (max-width: 810px) {
      #section1, #section2, #section3, #section41, #section42  {
      margin-left: 150px;
      }
      }*/
  body
    // Navigation
    nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
      .container
        // Brand and toggle get grouped for better mobile display
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          
        // Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav
                li
                  a(href='/admin') Home
                  -for(i in showmenu){
                      li
                        a(href='#{showmenu[i].link}') #{showmenu[i].txt}
                  -}
        // /.navbar-collapse
      // /.container
    section.container
      // Banner
      section.container
        .row
          #brand.col-sm-12
            img.img-responsive(src='/public/img/banner.png')
    section.container.footer-container
      .row
        .col-sm-3
          label(style='color:white;')
            | Licened by
    section.container
      .row
        .col-sm-12
          #section5
            p.form-title Show User
      .row
        .col-sm-12
          -if(pageCount > 1){
            ul.pagination
              -if(currentPage > 1){
                li
                  a(href='adminEdit?page=1') &laquo;
              -}
              -i = 1;
              -if(currentPage > 5){
                -i = +currentPage - 3;
              -}
              -if(i != 1){
                |..
              -}
              -for(i; i<=pageCount; i++){
                -if(currentPage == i){
                  li.active
                    a [#{i}]
                -} else {
                  li
                    a(href='adminEdit?page=#{i}') [#{i}]
                -}
                -if(i == (+currentPage + 3) && (currentPage+3)<pageCount){
                  |..
                  -break
                -}
              -}
              -if(currentPage != pageCount){
                li
                  a(href='adminEdit?page=#{pageCount}') &raquo;
              -}
          -}
      .row
        .col-sm-12
          table(class="table .table-striped")
            tr
              th 
                center Username
              th
                center Name
              th
                center Type
              th
                center Edit
              th
                center Delete
                -for(i in students){
                  tr
                    td
                      center #{students[i].username}
                    td
                      center #{students[i].name}
                    td
                      center #{students[i].type}
                    td
                      center
                        button.btn.btn-info(type='button', data-toggle='modal', data-target='#editmodal#{i}') แก้ไข
                    td
                      center
                        button.btn.btn-danger(type='button' data-toggle='modal', data-target='#delmodal#{i}') ลบ   
                -}
        -for(i in students){              
              // Modal
          .modal.fade(id='editmodal#{i}', role='dialog')
            form.modal-dialog(name='edituser#{i}' method='post', action='/editUser')
              // Modal content
              .modal-content
                .modal-header
                  button.close(type='button', data-dismiss='modal') ×
                  h4.modal-title Modal Header
                .modal-body
                  input#edit_userid.form-control(name='edit_userid' type='hidden' value='#{students[i].user_id}')
                  .form-group
                    label.col-form-label Username:
                    input#edit_username.form-control(name='edit_username' type='text' value='#{students[i].username}')
                  .form-group
                    label.col-form-label Password:
                    input#edit_password.form-control(name='edit_password' type='text' value='#{students[i].password}')
                  .form-group
                    label.col-form-label Name:
                    input#edit_name.form-control(name='edit_name' type='text' value='#{students[i].name}')
                  .form-group
                    label.col-form-label Type:
                    select#edit_type.form-control(name='edit_type')
                      option(value='#{students[i].type}') Select
                      option(value='Adminstator') Adminstator
                      option(value='Devoloper') Devoloper
                .modal-footer
                  input#edituser.btn.btn-success(type='submit', name='edituser#{i}' value="Submit")
                  sbutton.btn.btn-default(type='button', data-dismiss='modal') Close 
        -}
        -for(i in students){
          // Modal
          .modal.fade(id='delmodal#{i}', role='dialog')
            form.modal-dialog(name='deluser#{i}' method='post', action='/delUser')
              // Modal content
              .modal-content
                .modal-header
                  button.close(type='button', data-dismiss='modal') ×
                  h4.modal-title Are you sure Delete?
                .modal-footer
                  input#del_username.form-control(name='del_userid' type='hidden' value='#{students[i].user_id}')
                  input#edituser.btn.btn-danger(type='submit', name='deluser' value="YES")
                  button.btn.btn-info(type='button', data-dismiss='modal') NO
        -}
      
    footer
      .screen-row
        label(style='color:white;')
            | Licened by   