doctype html
html
  head
    title Bootstrap Example
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', type='text/css', href='/public/css/wraplogin.css')
    
    
    script(src='/public/js/sweetalert.js')
    
    //script(src='/public/js/zingchart-angularjs.js')
    script(src='/public/js/zingchart.min.js')
    

    //angular + jquery//
    script(src='/public/js/jquery-3.2.1.min.js')
    script(src='/public/js/angular.min.js')
    //bootstrap//
    link(rel='stylesheet', type='text/css', href='/public/css/bootstrap.css')
    script(src='/public/js/bootstrap.min.js')

    //googlemap + configmap//
    link(rel='stylesheet', href='/public/css/configmap.css')
    //link(rel='stylesheet', href='https://js.arcgis.com/3.22/dijit/themes/claro/claro.css')
    //link(rel='stylesheet', href='https://js.arcgis.com/3.22/esri/css/esri.css')
    link(rel='stylesheet', href='/public/css/claro.css')
    link(rel='stylesheet', href='/public/css/esri.css')

    script(src='/public/js/init.js')
    script(src='/public/js/configmap2.js')

    //link(rel='stylesheet', href='/public/css/configmap.css')
    //script.
      document.write('<base href="' + document.location + '" />');
    //script(data-require='angular.js@1.3.x', src='https://code.angularjs.org/1.3.16/angular.js', data-semver='1.3.16')
    //script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyD5isMbzRr_Ewadqb9eYq8cqet74mMeQ-E')
    //script(src='/public/js/configmap.js')

    //highchart + configchart//
    script(src='/public/js/highcharts.js')
    script(src='/public/js/data.js')
    script(src='/public/js/drilldown.js')

    link(rel='stylesheet', href='/public/css/checkbox.css')


    style.
      body {
      position: relative;
      }
      #section1 {position: relative; top: 90px}
      #section2 {position: relative; top: 90px}
      #section3 {position: relative; top: 90px}
      #section4 {position: relative; top: 40px}
      #section5 {position: relative; top: 40px}
      #section6 {position: relative; top: 70px}
      #chart {position: relative; top: 40px}
      #brand {position: relative; top: 60px;}
      /*@media screen and (max-width: 810px) {
      #section1, #section2, #section3, #section41, #section42  {
      margin-left: 150px;
      }
      }*/
  body
    // Navigation
    nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
      .container
        // Brand and toggle get grouped for better mobile display
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          
        // Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav
            li
              a(href='#section1') Home
            -for(i in showmenu){
                li
                  a(href='#{showmenu[i].link}') #{showmenu[i].txt}
            -}
        // /.navbar-collapse
      // /.container
    section.container
      // Banner
      section.container
        .row
          #brand.col-sm-12
            img.img-responsive(src='/public/img/banner.png')

      section.container
        .row
          .col-sm-12
            .tab-content
              #section1.tab-pane.fade.in.active
                .container
                  .row
                    .col-sm-8
                        //div(ng-app="plunker")
                        div
                          .map-responsive
                            #map
                    .col-sm-3
                      table(class="table .table-striped")
                        tr
                          th
                            label.checkboxlayer
                              | Bldg.geojson
                              input(type='checkbox', onclick='filter(0,this.checked)')
                              span.checkmark
                        tr
                          th
                            label.checkboxlayer
                              | Area_Use.geoJson
                              input(type='checkbox', onclick='filter(1,this.checked)')
                              span.checkmark
              #section2.tab-pane.fade
                .wrap
                    p.form-title Sign In
                    form.login(form='', form-horizontal='', method='post', action='/addContact')
                      .form-group
                        input#contact_name(type='text', name='contact_name', placeholder='Name')
                      .form-group
                        input#contact_phone(type='text', name='contact_phone', placeholder='Phone number')
                      .form-group
                        input#contact_email(type='text', name='contact_email', placeholder='Email')
                      .form-group
                        input#contact_subject(type='text', name='contact_subject', placeholder='Subject')
                      .form-group
                        input#contact_message(type='text', name='contact_message', placeholder='Message')
                      .form-group
                        input#contact.btn.btn-success(type='submit', name='contact' value="Submit")
              #section3.tab-pane.fade
                .wrap
                  p.form-title Sign In
                  form.login(method='post', action='/check_session')
                    input#username(type='text', placeholder='Username', name='username')
                    input#password(type='password', placeholder='Password', name='password')
                    input.btn.btn-success.btn-sm(type='submit', value='SignIn')
                    .remember-forgot
                      .row
                        .col-md-6
                          .checkbox
                            label
                              input(type='checkbox')
                              | Remember Me
                        .col-md-6.forgot-pass-content
                          a.forgot-pass(href='javascription:void(0)') Forgot Password
              #section4.tab-pane.fade
                .wrap
                  p.form-title Add User
                    form.login(form='', form-horizontal='', method='post', action='/addUser')
                      .form-group
                        input#add_username(type='text', name='add_username', placeholder='Username')
                      .form-group
                        input#add_password(type='text', name='add_password', placeholder='Password')
                      .form-group
                        input#add_name(type='text', name='add_name', placeholder='Name')
                      .form-group
                        select#add_type(name='add_type')
                          option(value='Adminstator') Adminstator
                          option(value='Devoloper') Devoloper
                      .form-group
                        input#adduser.btn.btn-success(type='submit', name='adduser' value="Submit")
              #section5.tab-pane.fade
                .wrap
                  p.form-title Show User
                  table(class="table")
                    tr
                      th 
                        center Username
                      th
                        center Name
                      th
                        center Type
                      th
                        center Edit
                      th
                        center Delete
                    -for(i in showuser){
                      tr
                        td
                          center #{showuser[i].username}
                        td
                          center #{showuser[i].name}
                        td
                          center #{showuser[i].type}
                        td
                          center
                            button.btn-sm.btn-info(type='button', data-toggle='modal', data-target='#editmodal#{i}') แก้ไข
                        td
                          center
                            button.btn-sm.btn-danger(type='button' data-toggle='modal', data-target='#delmodal#{i}') ลบ   
                    -}
              
              -for(i in showuser){
                // Modal
                .modal.fade(id='editmodal#{i}', role='dialog')
                  form.modal-dialog(name='edituser#{i}' method='post', action='/editUser')
                    // Modal content
                    .modal-content
                        .modal-header
                          button.close(type='button', data-dismiss='modal') ×
                          h4.modal-title Modal Header
                        .modal-body
                          input#edit_userid.form-control(name='edit_userid' type='hidden' value='#{showuser[i].user_id}')
                          .form-group
                            label.col-form-label Username:
                            input#edit_username.form-control(name='edit_username' type='text' value='#{showuser[i].username}')
                          .form-group
                            label.col-form-label Password:
                            input#edit_password.form-control(name='edit_password' type='text' value='#{showuser[i].password}')
                          .form-group
                            label.col-form-label Name:
                            input#edit_name.form-control(name='edit_name' type='text' value='#{showuser[i].name}')
                          .form-group
                            label.col-form-label Type:
                            select#edit_type.form-control(name='edit_type')
                              option(value='#{showuser[i].type}') Select
                              option(value='Adminstator') Adminstator
                              option(value='Devoloper') Devoloper
                        .modal-footer
                            input#edituser.btn.btn-success(type='submit', name='edituser#{i}' value="Submit")
                            button.btn.btn-default(type='button', data-dismiss='modal') Close 
              -}
              -for(i in showuser){
                // Modal
                .modal.fade(id='delmodal#{i}', role='dialog')
                  form.modal-dialog(name='deluser#{i}' method='post', action='/delUser')
                    
                      // Modal content
                      .modal-content
                        .modal-header
                          button.close(type='button', data-dismiss='modal') ×
                          h4.modal-title Are you sure Delete?
                        .modal-footer
                            input#del_username.form-control(name='del_username' type='hidden' value='#{showuser[i].username}')
                            input#edituser.btn.btn-danger(type='submit', name='deluser' value="YES")
                            button.btn.btn-info(type='button', data-dismiss='modal') NO
              -}
              #section6.tab-pane.fade
                .row
                  #chart(style='min-width: 310px; height: 400px; margin: 0 auto ')
                  script(src='/public/js/configchart.js')
    footer
      .screen-row
        label(style='color:white;')
            | Licened by            
  script.
    /*function swal()
    {
      if(confirm("Are you sure Delete?"))
      {
        return true
      }else{
        return false
        
      }
    }*/
    $(document).ready(function(){
      $(".navbar-nav a").click(function(){
        $(this).tab('show');
      });
    });